<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="grid footer__mb">
        <img
          class="footer__logo"
          src="images/footer-logo.png"
          alt="footer-logo"
        />
        <p class="footer__heading">
          Virtual Class <br />
          for Zoom
        </p>
      </div>
      <p class="footer__subscribe">Subscribe to get our Newsletter</p>
      <form action="#" class="grid footer__mb">
        <input
          class="footer__input"
          type="email"
          name="email"
          placeholder="Your Email"
        />
        <button class="footer__btn" type="submit">Subscribe</button>
      </form>
    </div>
    <div class="grid footer__conditions">
      <div class="footer__inf">Careers</div>
      <div class="footer__inf">Privacy Policy</div>
      <div class="footer__inf">Terms & Conditions</div>
    </div>
    <p class="footer__license">© 2021 Class Technologies Inc.</p>
  </div>
</footer>
