<header class="header" id="home">
  <div class="burger">
    <div class="burger__head">
      <img src="images/logo.png" alt="logo" />
      <img src="images/close.png" class="burger__close" alt="close" />
    </div>
    <nav class="nav">
      <a class="nav__link" data-id="home" href="">Home</a>
      <a class="nav__link" data-id="aboutUs" href="">About Us</a>
      <a class="nav__link" data-id="features" href="">Features</a>
      <a class="nav__link" data-id="blog" href="">Blog</a>
    </nav>
  </div>
  <div class="container">
    <div class="header__nav">
      <img src="images/logo.png" class="header__logo" alt="Logo" />
      <nav class="nav">
        <a class="nav__link" data-id="home" href="">Home</a>
        <a class="nav__link" data-id="aboutUs" href="">About Us</a>
        <a class="nav__link" data-id="features" href="">Features</a>
        <a class="nav__link" data-id="blog" href="">Blog</a>
      </nav>
      <div class="header__log">
        <img src="images/burger.png" class="header__burger" alt="burger" />
        <button class="header__login">Login</button>
        <button class="header__sign">Sign Up</button>
      </div>
    </div>
    <div class="header__body">
      <div class="header__inf">
        <h1 class="header__title">
          <span class="color--orange">Studying Online</span> is now much easier
        </h1>
        <p class="header__subtitle">
          Skilline is an interesting platform that will teach you in more an
          interactive way
        </p>
        <div class="header__buttons">
          <button class="header__join">Join for free</button>
          <button class="header__video">Watch how it works</button>
        </div>
      </div>
      <img src="images/hero.png" class="header__hero" alt="Hero" />
    </div>
  </div>
</header>
